{% extends "blog/base.html" %}
{% block content %}
    <h1 style = "color:#4b4f54";><b>About Us:</b></h1>
    <h3 style = "color:#4b4f54";><b>Software Engineering: Singh M 5:30 Class</b></h3>
    <h3 style = "color:#44829E";><b>Team Harden_Romero_Shoemaker: </b></h3>
    <h5 style = "color:#557b78";><b>Nick Harden</b>: Project Manager, Software Developer, User Acceptance Tester</h5>
    <h5 style = "color:#557b78";><b>Pallovi Romero</b>: Software Developer, QA Analyst, User Acceptance Tester</h5>
    <h5 style = "color:#557b78";><b>Tracy Shoemaker</b>: Software Developer, QA Analyst, User Acceptance Tester</h5>
{% endblock content %}
